@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: theme('borderColor.DEFAULT', currentColor);
  }

  body {
    @apply m-0 font-sans;
  }

  ul,
  ol {
    @apply m-0 list-none p-0;
  }

  blockquote,
  dl,
  dd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  figure,
  p,
  pre {
    @apply m-0;
  }

  h1 {
    @apply mb-[1em] text-4xl font-bold;
  }

  h2 {
    @apply mb-[0.8em] text-2xl font-bold;
  }

  pre {
    white-space: pre-wrap;
  }

  label {
    @apply mb-1 block font-medium text-gray-600;
  }

  button {
    @apply border border-gray-400 px-3 py-1;
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [type='checkbox'],
  [type='radio'] [multiple],
  textarea,
  select {
    @apply w-full border border-gray-400 px-3 py-2;
  }
}

@layer components {
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .spin {
    animation: spin 600ms linear infinite;
  }

  .i-plus {
    @apply i-heroicons-outline-plus-circle h-6 w-6 cursor-pointer text-emerald-600 hover:text-emerald-700;
  }

  .i-minus {
    @apply i-heroicons-outline-minus-circle h-6 w-6 cursor-pointer text-amber-600 hover:text-amber-700;
  }

  .i-loading {
    @apply i-custom-loading spin firefox-border-animation-bug-fix h-5 w-5 text-emerald-600;
  }
}
