@layer base {
  html {
    @apply prose theme-light max-w-none;
    --max-w-container: theme('maxWidth.5xl');
    --spacing-container: theme('spacing.5');
  }

  body {
    @apply bg-fill font-sans;
  }

  button {
    @apply rounded px-4 py-2 font-medium outline-offset-2 focus:outline focus:outline-2;
  }

  button[type='submit'] {
    @apply bg-blue-600 text-white hover:bg-blue-500 focus:outline-blue-500;
  }

  button[type='button'] {
    @apply bg-fill-form border hover:bg-gray-100 focus:outline-gray-300  dark:hover:bg-gray-700/60 dark:focus:outline-gray-500;
  }

  @screen md {
    html {
      --spacing-container: theme('spacing.8');
    }
  }

  @screen lg {
    html {
      @apply prose-lg;
    }
  }

  html :where(ul):not(:where([class~='app-markdown'] *)) {
    @apply m-0 list-none p-0;
  }

  html :where(ul > li):not(:where([class~='app-markdown'] *)) {
    @apply m-0 p-0;
  }
}
