@layer base {
  label {
    @apply mb-1 block cursor-pointer font-medium;
  }

  textarea {
    display: block;
  }

  [type='file'] {
    appearance: none;
    cursor: pointer;
    font-size: 0;
  }

  [type='radio'] {
    @apply border-border-form bg-fill-form text-border-form-highlight;
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [type='checkbox'],
  [type='radio'] [multiple],
  textarea,
  select {
    @apply border-border-form bg-fill-form w-full rounded-md border;
  }

  .custom-file-input {
    @apply border-border-form bg-fill-form rounded-md border-2 border-dashed;
  }

  [type='text']:focus,
  [type='email']:focus,
  [type='url']:focus,
  [type='password']:focus,
  [type='number']:focus,
  [type='date']:focus,
  [type='datetime-local']:focus,
  [type='month']:focus,
  [type='search']:focus,
  [type='tel']:focus,
  [type='time']:focus,
  [type='week']:focus,
  [type='checkbox'],
  [type='radio']:focus,
  [type='radio'] [multiple]:focus,
  textarea:focus,
  select:focus,
  .custom-file-input:focus-within {
    border-color: theme('colors.border-form-highlight');
    box-shadow: 0 0 0 4px theme('colors.border-form-highlight' / 0.12);
  }

  .error {
    --highlight: var(--error);
    --border-form: theme('colors.rgb.red.300');
    --border-form-highlight: var(--error);
  }
}
