@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ol,
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    @apply m-0 font-sans;
  }

  h1 {
    @apply mb-[1em] text-3xl font-bold;
  }

  h2 {
    @apply mb-[0.8em] text-2xl font-semibold;
  }

  pre {
    white-space: pre-wrap;
  }
}
