@layer base {
  html {
    @apply prose-slate;

    --color-text-error: theme('colors.rgb.red.500');

    --color-fill: theme('colors.rgb.gray.50');
    --color-form-fill: theme('colors.rgb.white');

    --color-border-base: theme('colors.rgb.gray.200');
    --color-border-form-base: theme('colors.rgb.gray.300');
    --color-border-form-highlight: theme('colors.rgb.emerald.500');
  }

  body {
    @apply bg-bg-base text-text-base font-sans;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'header'
      'main';
  }

  button {
    @apply relative inline-flex rounded border-2 border-blue-600 !bg-blue-600 px-4 py-1 font-medium text-white outline-none outline-offset-[2.5px] hover:border-blue-500 hover:!bg-blue-500;
  }
}

@layer components {
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .spin {
    animation: spin 600ms linear infinite;
  }

  .i-plus {
    @apply i-heroicons-outline-plus-circle h-6 w-6 cursor-pointer text-emerald-600 hover:text-emerald-700;
  }

  .i-minus {
    @apply i-heroicons-outline-minus-circle h-6 w-6 cursor-pointer text-amber-600 hover:text-amber-700;
  }

  .i-loading {
    @apply i-custom-loading spin firefox-border-animation-bug-fix text-text-base h-6 w-6;
  }
}
